@using System.Web.Optimization
@using EpiServerBlogs.Web.ViewModels.Contracts
@using EpiServerBlogs.Web.Models.Pages
@using EPiServer.Globalization

@model ISitePageViewModel<SitePageData>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=10"/>
    <meta name="viewport" content="width=device-width"/>

    <title>@Model.CurrentPage.MetaTitle</title>

    @if (Model.CurrentPage.Favicon != null)
    {
        <link rel="shortcut icon" href="@Url.ContentUrl(Model.CurrentPage.Favicon)"/>
    }

    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/js")
</head>
<body class="container-fluid">
<div class="row">
    <header>
        <div class="col-xs-6 logo">
            <span>@Html.PropertyFor(m => m.CurrentPage.Header)</span>
        </div>
        <div class="col-xs-6">
            <div>
                @if (!Model.IsLoginPage && Model.IsAuthenticated)
                {
                    <div class="pull-right">
                        @Html.PageLink("Log Out", Model.LoginPage.PageLink, new {language = ContentLanguage.PreferredCulture.Name, Action = "LogOut"}, null)
                    </div>
                    <div class="pull-right">
                        <span>&nbsp;</span>
                    </div>
                    <div class="pull-right">
                        <span>@Model.CurrentUserName</span>
                    </div>
                }
                else if (!Model.IsLoginPage)
                {
                    <div class="pull-right">
                        @Html.PageLink("Log In", Model.LoginPage.PageLink, new {language = ContentLanguage.PreferredCulture.Name, ReturnUrl = Request.RawUrl}, null)
                    </div>
                }
            </div>
        </div>
    </header>
</div>
<div class="content">
    @RenderBody()
</div>
<div class="row">
    <footer>
        <div class="col-xs-6 logo">
            <span>Footer</span>
        </div>
    </footer>
</div>
</body>
</html>
