@using EPiServer.Globalization
@model EpiServerBlogs.Web.ViewModels.ArticlePageViewModel

<script src="~/Static/js/knockout-3.4.0.js"></script>
<script src="~/Static/js/ckeditor/ckeditor.js"></script>
<script src="~/Static/js/article.js"></script>

<script>
    var comments = @Html.Raw(Json.Encode(Model.Comments));
</script>

<div class="row">
    <div class="col-xs-12">
        <h1>@Html.PropertyFor(m => m.CurrentPage.ArticleHeader)</h1>

        <h4>
            <em>@Html.PropertyFor(m => m.CurrentPage.ArticleDateTime)</em>
        </h4>

        @Html.PropertyFor(m => m.CurrentPage.ArticleImage, new {BlobName = "Medium"})

        <p>@Html.PropertyFor(m => m.CurrentPage.ArticleBody)</p>

        @if (Model.CurrentPage.ArticleTags != null && Model.CurrentPage.ArticleTags.Count > 0)
        {
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="panel-title">Tags</span>
                </div>
                <div class="panel-body">
                    @foreach (var tag in Model.CurrentPage.ArticleTags)
                    {
                        <span>@tag</span>
                        <span>&nbsp;</span>
                    }
                </div>
            </div>
        }

        <a href="/"><<<</a>

        <div class="row text-center">
            <div class="col-xs-4">
                @Html.PropertyFor(m => m.CurrentPage.ArticleImage, new {BlobName = "Fit"})
                <div>
                    <span>Fit</span>
                </div>
            </div>
            <div class="col-xs-4">
                @Html.PropertyFor(m => m.CurrentPage.ArticleImage, new {BlobName = "Fill"})
                <div>
                    <span>Fill</span>
                </div>
            </div>
            <div class="col-xs-4">
                @Html.PropertyFor(m => m.CurrentPage.ArticleImage, new {BlobName = "Resize"})
                <div>
                    <span>Resize</span>
                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm(null, null, new { language = ContentLanguage.PreferredCulture.Name, Action = "SaveComment"}, FormMethod.Post))
{
    <div id="comments-new" class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <textarea id="comment" name="commentText"></textarea>
        </div>
        <div class="col-xs-3">
            <input type="submit" value="Save Comment" class="btn btn-primary"/>
        </div>
    </div>
    <div data-bind="if: comments().length">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 text-center">
                <h2>Comments</h2>
            </div>
            <div class="col-xs-3">
                <label>
                    <span>Order by date (Ascending)</span>
                    <input type="checkbox" data-bind="checked: orderByDate, enable: isOrdered()" />
                </label>
            </div>
        </div>
        <div class="row" data-bind="foreach: {data: comments, afterRender: afterCommentRender}">
            <div class="col-xs-6 col-xs-offset-3 old-comment">
                <div class="pull-left">
                    <span data-bind="text: username"></span>
                </div>
                <div class="pull-right">
                    <span data-bind="text: date"></span>
                </div>
                <div class="clearfix"></div>
                <textarea data-bind="html: text, attr: {id: 'comm' + $index()}" class="all-comments"></textarea>
            </div>
        </div>
    </div>
}