@model EpiServerBlogs.Web.ViewModels.AddressViewModel

<div class="panel">
    <div class="panel-body">
        <b>@Model.Name</b><br/>
        <span>@Model.FirstName&nbsp;@Model.LastName</span><br/>
        <em>@Model.CountryName&nbsp;@Model.City&nbsp;@Model.Line1&nbsp;@Model.Line2&nbsp;@Model.PostalCode</em><br/>
        <span>@Model.DaytimePhoneNumber</span><br/>
        <span>@Model.Email</span><br/>
    </div>
</div>